body{
  background-color: rgba(32, 33, 36, 1);
}
#advanced {
  background-color: rgba(32, 33, 36, 1);
  padding: 0px;
  margin: 60px;
  font-family: Arial, sans-serif;
}

#head {
  color: red;
  font-size: 26px;
  font-family: Arial, sans-serif;
  text-align: left;
  margin-left: 60px;
  padding-top: 50px;
  margin-bottom: 20px;
}

#header {
  margin: 20px;
  margin-top: 10px;
  font-size: 30px;
  font-family: Arial,sans-serif;
  text-decoration: none;
  color: inherit;
}

#linkback {
  text-align: right;
  margin-left: 550px;
  text-decoration: none;
  font-family: Arial, sans-serif;
  font-size: 14px;
}

.search {
  border-radius: 8px;
  margin-bottom: 10px;
}

/*Button submit */
#srch {
  width: 150px;
  background: #8ab4f8;
  border-color: #8ab4f8;
  color: #202124;
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  text-decoration: none;
  vertical-align: baseline;
}

#phr {
  font-size: 20px;
  font-weight: bolder;
}

.submit {
  text-align: center;
}

a {
  color: #000;
  font-size: medium;
}

#imglogo {
  width: 100px;
  margin-top: 10px;
}

.back {
  text-align: right;
  padding-right: 10px;
}

.back:hover {
  
}

