body {
  background-color: rgba(32, 33, 36, 1);
}
#advanced {
  background-color: rgba(32, 33, 36, 1);
  color: #fff;
  padding: 0px;
  margin: 60px;
  font-family: Arial, sans-serif;
  font-weight: lighter;
}

#head {
  color: #f28b82;
  font-size: 24px;
  font-family: Arial, sans-serif;
  text-align: left;
  margin-left: 60px;
  padding-top: 50px;
  margin-bottom: 20px;
}

#header {
  margin: 20px;
  margin-top: 10px;
  font-size: 40px;
  font-family: Arial, sans-serif;
  text-decoration: none;
  color: inherit;
}

#linkback {
  text-align: right;
  margin-left: 550px;
  text-decoration: none;
  font-family: Arial, sans-serif;
  font-size: 14px;
}

.search {
  border-radius: 0px;
  margin-bottom: 10px;
  background: #202124;
  border: 1px solid #5f6368;
  color: #bdc1c6;
  width: 600px;
  height: 32px;
  text-align: left;
}
#phr {
  font-family: Arial, sans-serif;
  font-size: 20px;
  font-weight: bolder;
}

.texts {
  display: inline-block;
  font-size: 11px;
  margin: 10px;
}
/*Button submit */
#srch {
  width: 150px;
  height: 30px;
  background: #8ab4f8;
  border-color: #8ab4f8;
  color: #202124;
  margin: 0;
  padding: 0;
  border: 0;
  border-radius: 2px;
  cursor: default;
  font-size: 13px;
  font-weight: bold;
  text-align: center;
  white-space: nowrap;
}

.submit {
  text-align: center;
}

a {
  color: #fff;
  font-size: medium;
}

#imglogo {
  width: 100px;
  margin-top: 10px;
}

.back {
  text-align: right;
  padding-right: 10px;
}

#ptop {
  margin-bottom: 0px;
}
